/* セクション全体 */
.jissekiKensu {
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    text-align: center;
    width: 100%;
    padding: 20px 0 0 0; /* 上下に余白を追加 */
}

/* 画像のラッパー */
.jissekiKensu__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* 画像 */
.jissekiKensu__image {
    max-width: 800px; /* PC時の最大幅 */
    width: 90%; /* スマホでは横幅いっぱいに */
    height: auto;
}
